#parkSelector {
    position: relative;
    min-width: 600px;
    /*border: 1px solid black;*/
    margin-top: 250px;
    text-align: center;
    width: 1200px;
    margin: 0 auto;
}

#parkContent h1 {
    text-align: center;
}

.content{
    margin-left: 25px;
    margin-right:25px;
}

.park {
    display: table;
    top: 50%;
    bottom: ;
    margin: 2px;
    background-color: rgba(21, 209, 131, 0.7);
    color: white;
    width: 250px;
    height: 60px;
    border-radius: 5px;
}

.park {
    cursor: pointer;
}

.inner {
    width: 120px;
    height: 60px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.main-content{
  text-align: center;
  padding: 10%;
  /*background-color: rgba(157, 213, 242, 0.5);*/
}

body{
    /*background-image: url('../imgs/parkpic.jpg');
    background-repeat: repeat-x;*/
  background: url(../imgs/park_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container-fluid {
    margin-top: 20px;
}

.headerStyle{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: .5%;
    margin: 0%;
    width: 100%;
    /*background-color: rgba(21, 209, 131, 0.53);*/
    /*background-color: rgb(26, 33, 40);*/
    z-index: 10;
}

  .aLinks{
    position: relative;
    /*color: #504e4e;*/
    color: rgb(26, 33, 40);
    right: 10%;
    float: right;

  }
