#parkSelector {
    position: absolute;
    margin-top: 25px;
    text-align: center;
    width: 1200px;
    margin: 0 auto;
}

#parkContent h1 {
    text-align: center;
}

.content{
    margin-left: 25px;
    margin-right:25px;
}

.park {
    display: table;
    top: 50%;
    bottom: ;
    margin: 2px;
    background-color: rgba(21, 209, 131, 0.53);
    color: white;
    width: 250px;
    height: 60px;
    border-radius: 5px;
}

.inner {
    width: 120px;
    height: 60px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.main-content{
  text-align: center;
}

body{
    /*background-image: url('../imgs/parkpic.jpg');
    background-repeat: repeat-x;*/
  background: url(../imgs/park_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container-fluid {
    margin-top: 20px;
}
